# Fichiers Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
create_icons.py

# Environnements
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporaires
*.tmp
*.bak
